
.posts{
    width: 70%;
    height: auto;
    background-color: aquamarine;
    margin: auto;
    padding: 5px;
    margin-top: 5px;
}
.posts-card{
    background-color: #fff;
    padding: 10px;
    margin: 30px;
    box-shadow: 5px 5px 2px #000;
}
.card-title{
    text-align: center;
    color: rgb(176, 37, 120);
    text-transform: capitalize;
    text-decoration: underline;
}
.card-body{
    text-align: justify;
}